<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_7XVyUtkLHgvzqycXK2MPWheBJ4qufgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>513035525286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumeyyesert.MeetingAndNoteTakingApp</string>
	<key>PROJECT_ID</key>
	<string>meetingandnotetakingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>meetingandnotetakingapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513035525286:ios:4264f8775e7d1e8956e867</string>
</dict>
</plist>